body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("./../assets/poke.png");
    font-family: "Silkscreen", system-ui;
}

header {
    width: 100%;
    height: 80px;
    padding: 15px 30px;
    background-color: rgb(255, 68, 68);
    color: white;
    text-align: center;
    font-size: 35px;
}

main {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#pokedexContainer {
    display: flex;
    gap: 20px; /* Espaçamento entre as duas telas */
}

#pokedex, #sideScreen {
    background-color: rgb(255, 68, 68);
    width: 350px; /* Aumenta a largura da tela */
    height: 600px; /* Aumenta a altura da tela */
    border-radius: 15px;
    border: 1px solid rgb(153, 6, 6);
    box-shadow: 6px 5px 10px 0px rgba(153, 6, 6, 0.575);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

#visor {
    background-color: hwb(172 3% 3%);
    border: 7px solid #ccc;
    width: 300px; /* Aumenta a largura do visor da primeira tela */
    height: 300px; /* Aumenta a altura do visor da primeira tela */
    margin: 15px 0;
    text-align: center;
}

#sideVisor {
    background-color: hwb(172 3% 3%);
    border: 7px solid #ccc;
    width: 320px; /* Aumenta a largura do visor da segunda tela */
    height: 500px; /* Aumenta a altura do visor da segunda tela */
    margin: 15px 0;
    text-align: center;
}

#pokedex .form-floating {
    width: 300px; /* campo de inserir*/
    margin: 15px auto;
}

#pokedex button {
    width: 300px;/* campo de pesquisar*/
    border-radius: 5px;
    height: 50px;
    color: red;
    font-weight: bold;
}

.progress-container {
    width: 100%; 
    background-color: #ccc; 
    border-radius: 5px; 
    overflow: hidden; 
}
.progress-bar {
    height: 20px; /* Altura da barra */
    background-color: #44ff6d; 
    transition: width 0.3s ease; /* Efeito de transição suave */
}

img {
    width: 10vw;
    height: 20vh;
    object-fit: cover;
}